@model IEnumerable<MvcPersonajesSeriesJLR.Models.Personaje>
@{ 
    List<Serie> series = ViewData["SERIES"] as List<Serie>;
}

@{
    ViewData["Title"] = "NewPersonaje";
}

<h1>NewPersonaje</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre"/>
            <br />
            <label>Imagen</label>
            <input type="text" class="form-control" name="imagen"/>
            <br />
            <label>Serie</label>
            <select class="form-control" name="idserie">
                @foreach(var ser in series)
            {
                <option value="@ser.IdSerie"> @ser.Nombre</option>
            }
            </select>
            <button type="submit">
                Insertar
            </button>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Imagen)" style="width:80px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSerie)
            </td>
            <td>
                <a asp-controller="Series" asp-action="DeletePersonaje" asp-route-idserie="@item.IdPersonaje">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
